apps/api/.env
apps/api/vendor/
apps/web/.env
apps/web/node_modules/
apps/web/dist/
database/backups/*.sqlite
database/backups/*.json
apps/api/storage/app/backups/
apps/api/storage/logs/*.log
apps/api/public/app/
apps/api/.phpunit.result.cache
apps/api/database/database.sqlite
apps/api/database/database.sqlite-shm
apps/api/database/database.sqlite-wal
apps/public/
database/*.sqlite-shm
database/*.sqlite-wal
